fastapi
uvicorn[standard]
sqlalchemy
databases[postgresql]
psycopg2-binary
redis
python-multipart
python-dotenv
qrcode
cryptography
numpy
opencv-python-headless
face-recognition
ultralytics
pytesseract
python-jose[cryptography]